body {
    overflow-x: hidden;
}

img {
    width: 100%;
}

/*  */
.divider {
    background-color: var(--bs-dark);
}

.minus,
.plus {
    --solid-width: 1px;
    position: relative;
    width: 24px;
    height: 24px;
}

.minus:after,
.plus:after {
    content: '';
    position: absolute;
    width: 100%;
    height: var(--solid-width);
    left: 0;
    top: calc(50% - var(--solid-width)/2);
    background-color: var(--bs-dark);
}

.plus:before {
    content: '';
    position: absolute;
    width: 100%;
    height: var(--solid-width);
    left: calc(50% + var(--solid-width)/2);
    transform: rotate(90deg);
    transform-origin: 0% 0%;
    background-color: var(--bs-dark);

}

/*  */
#menu-toggle-icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    z-index: 11;
}

.bars-icon {
    position: relative;
    width: 100%;
    height: 100%;
}

.bar-icon {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #111;
    border-radius: 999px;
    transition: 0.25s;
}

.bar-icon.--top {
    top: 0;
}

.bar-icon.--middle {
    top: calc(50% - 5%);
}

.bar-icon.--bottom {
    top: calc(100% - 10%);
}

.bars-icon.is-open .bar-icon.--middle {
    transform: translateX(100vw);
}

.bars-icon.is-open .bar-icon.--top {
    top: 50%;
    transform: rotate(45deg);
}

.bars-icon.is-open .bar-icon.--bottom {
    top: calc(50%);
    transform: rotate(-45deg);
}


.min-h-400 {
    min-height: 400px;
}


/*  */
.top-bar {
    height: 2.5rem;
    line-height: 2.5rem;
    color: white;
}

.main-bar {
    height: 4.75rem;
    padding: 0;
    border-bottom: 1px solid var(--bs-gray-500);
}

.main-bar__actions {
    height: 100%;
    align-items: center;
}

.main-bar__button {
    height: 100%;
    padding: 0 3rem;
    border: none;
    outline: none;
    text-align: center;
    font-weight: bold;
    background-color: var(--bs-orange);
    cursor: pointer;
}

.bottom-bar {
    height: 4rem;
}

.bottom-bar .main-menu-list a {
    font-size: 1rem;
    font-weight: bold;
}

.bottom-bar .account {
    cursor: pointer;
}

.bottom-bar .account__avatar {
    width: 26px;
    flex-shrink: 0;
    border-radius: 999px;
    overflow: hidden;
}

/*  */
.search-bar {
    height: fit-content;
}

.search-bar__input {
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
    background-color: var(--bs-gray-200);
    outline: none;
}

.search-bar__button {
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    border-left: unset;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
    background: var(--bs-orange);
    cursor: pointer;
    outline: none;
}

.search-bar:hover .search-bar__button,
.search-bar:hover .search-bar__input {
    border-color: var(--bs-dark);
}

/*  */
.shop-cart {
    cursor: pointer;
}

.shop-cart__icon {
    width: 26px;
    flex-shrink: 0;
}

.shop-cart__number span {
    text-align: center;
    display: block;
    width: 1.625rem;
    height: 1.625rem;
    border-radius: 999px;
    background-color: var(--bs-orange);
}

.cart__hidden-button {
    cursor: pointer;
}

/*  */
.product-category {
    position: relative;
}

.product-category__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.product-category__text-box {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.product-category__text-box

/*  */
.product {
    overflow: hidden;
}

.product__image {
    position: relative;
    overflow: hidden;
}

.product__overlay {
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translateY(100%);
    transition: 0.5s;
}

.product__image:hover .product__overlay {
    transform: translateY(0);
}

.product__title {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.product__price {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 0.875rem;
}

.product .quantity-control .minus,
.product .quantity-control .plus {
    width: 18px;
    height: 18px;
}

.subscribe-form input {
    padding: 0.5rem 1rem;
    border: none;
    outline: 1px black;
}

.sort-control__label {
    max-width: 12.5rem;
    padding: 0.5rem 1rem;
}

.sort-control__list {
    display: none;
}

/*  */

.section:not(.banner) {
    padding-left: 4rem;
    padding-right: 4rem;
}



.section.banner .banner__text-box {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    padding: 3rem 2rem 4rem 2rem;
    background-color: rgba(255, 255, 255, 0.8);
}

.section.banner .banner__text-box h1 {
    font-size: 3.5rem;
}

/*  */
.footer__menu {
    padding: 0;
    list-style: none;
}

.footer__menu__item {
    margin-bottom: 0.3rem;
}

.footer__menu a {
    line-height: 1.6;
    text-decoration: none;
    color: var(--bs-dark);
}

/*  */
.fixed-socials {
    position: fixed;
    top: 50%;
    right: 0.5rem;
    transform: translateX(-50%);
}

.fixed-socials ul {
    list-style: none;
    padding: 0;
}

.fixed-socials a {
    font-size: 1.2rem;
    text-decoration: none;
}

.cart-popup {
    position: fixed;
    width: 20rem;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 10;
    transform: translateX(100%);
    transition: 0.5s;
}

.cart-popup.show {
    transform: translateX(0);
}

.cart-popup__header {
    position: relative;
}

.cart-popup__header p {
    text-align: center;
}

.cart-popup__hidden-button {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    cursor: pointer;
}

.cart-popup__body {
    height: 100%;
    background-color: var(--bs-light);
}

#app-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

#mobile-menu {
    position: fixed;
    width: 20rem;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 10;
    transform: translateX(100%);
    transition: 0.5s;
    background-color: var(--bs-light);
}

#mobile-menu.show {
    transform: translateX(0);
}

/*  */



@media only screen and (max-width: 992px) {
    .section:not(.banner) {
        padding-left: 0;
        padding-right: 0;
    }

    .section.banner .banner__text-box {
        left: 50%;
    }

}

@media only screen and (max-width: 768px) {
    .section.banner .banner__text-box {
        padding: 2rem 1rem 2rem 1rem;
        left: 40%;
    }

    .section.banner .banner__text-box h1 {
        font-size: 2rem;
    }

    .main-bar,
    .bottom-bar {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .shop {
        padding: 0 2rem;
    }

}

@media only screen and (max-width: 576px) {
    .section.banner .banner__text-box {
        padding: 1rem 1rem 1rem 1rem;
        left: 40%;
    }

    .section.banner .banner__text-box h1 {
        font-size: 1.4rem;
        margin-bottom: 1.5rem !important;
    }
}